* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f3f3;
}

/* header */

.notes-app__header {
  padding: 5px 16px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #a900fd;
}

.notes-app__header h1 {
  flex: 1;
  color: #a900fd;
}

.notes-app__header input {
  padding: 8px 16px;
  background-color: transparent;
  color: #a900fd;
  border: 0;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid #a900fd;
  max-width: 250px;
}

/* main */

.notes-app {
  margin: 0 auto;
}

.notes-app__main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px 16px 32px 16px;
}

.notes-app__input-title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.3rem;
  color: #a900fd;
}

.notes-app__input {
  margin: 0 auto;
  max-width: 600px;
}

.notes-app__input p {
  text-align: right;
}

.notes-app__input input,
.notes-app__input textarea {
  display: block;
  width: 100%;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  background-color: transparent;
  color: #a900fd;
  border: 2px solid #a900fd;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
}

textarea {
  height: 10rem;
}

input::placeholder,
textarea::placeholder {
  color: #8e8e93;
  font-weight: bold;
}

.notes-app__input button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  color: #a900fd;
  font-weight: bold;
  border: 2px solid #a900fd;
}

.notes-app__input button:hover {
  background-color: #a900fd;
  color: #fff;
}

.notes-app__list-title,
.notes-app__archived-title {
  margin: 3rem 0 2rem 0;
  font-size: 2rem;
  color: #a900fd;
  border-bottom: 2px solid #a900fd;
}

.notes-list {
  display: grid;
  gap: 16px;
}

.notes-item {
  border: 2px solid #a900fd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.notes-item__body {
  padding: 1rem 1rem 0.75rem 1rem;
}

.notes-item__body h3 {
  margin-bottom: 12px;
  color: #a900fd;
}

.notes-item__body time {
  font-size: 0.9rem;
  color: #8e8e93;
}

.notes-item__body p {
  margin-top: 12px;
  line-height: 1.5;
}

.notes-item__actions {
  display: flex;
}

.notes-item__actions button {
  flex: 1 1;
  padding: 12px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #a900fd;
}

.delete-button {
  color: #ff3b30;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #ff3b30;
  color: #fff;
}

.archive-button {
  color: #ffcc00;
  font-weight: bold;
}

.archive-button:hover {
  background-color: #ffcc00;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr;
  }

  .notes-app__header input {
    max-width: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .notes-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
